@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@400;700;900&family=Righteous&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

header{
    background-color: #4F5E75;
    display: flex;
}

header h1{
    font-family: 'Righteous', cursive;
}

#theTitle{
    width: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 span{
    color: #EF8354;
}

ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

li{
    padding: 7%;
    color: white;
}

#divDark{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
}

#darkButton{
    background-color: #2D3040;
    color: white;
    border: none;
    border-radius: 3px;
    height: 5vh;
    width: 10vw;
}

#tabAbonnements{
    text-align: center;
}

#tabAbonnements table{
    display: flex;
    justify-content: center;
}

#tabAbonnements table tr td{
    border: 2px solid black;
    height: 5vh;
    width: 25vw;
}

.bcgGrey{
    background-color: #525E74;
    color: white;
}

.containeCard{
    width: 80%;
    height: 2vh;
}

.containCard{
    display: flex;
    width: 90%;
    margin: 2vh auto;
    background-color: #EAECEB;
    border-radius: 7px;
}


#cartePlats h2{
    text-align: center;
}

section h2{
    padding: 1.5vh;
}


#articleContain{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imgCard{
    object-fit: fill;
    width: 30vw;
    border-radius: 7px;
}

.imgContain{
    object-fit: cover;
    overflow: hidden;
    width: 80vw;
    height: 20vw;
}

.imgSolo{
    width: 100%;
    height: 20vw;
    object-fit: cover;
    overflow: hidden;
    border-radius: 7px;
}

.divPH3Contain p{
    text-align: center;
    padding: 1vh;
}

.divPH3Contain h3{
    padding: 1vh;
}

.blogCards{
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.blogCard{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;;
    border-radius: 7px;
    margin: 2vh 0;
}

.blogCard img{
    overflow: hidden;
    object-fit: cover;
    height: 15vh;
    width: 100%;
}

.blogCard h3, p{
    padding: 1vh;
}

footer{
    background-color: #4F5E75;
    color: white;
    text-align: center;
    padding: 3vh;
}

section p a{
    color: #EF8354;
}

fieldset{
    width: 70%;
    margin: 0 auto 3vh auto;
    display: flex;
    justify-content: space-between;
}

fieldset .radio1214, .radio1517, .radio1819 {
    padding: 0 5vw;
}

fieldset legend{
    text-align: left;
    margin: 0 0 0 3vw;
}

section input{
    border-radius: 7px;
    border: none;
    padding: 1vh;
    outline: none;
}

form h3{
    padding: 2vh;
}

form p{
    padding: 0 0 3vh 0;
}

#formColumn{
    display: flex;
    flex-direction: column;
}

#formColumn div{
    padding: 2vh;
}

#formColumn button{
    border: 1px solid white;
    border-radius: 7px;
    background-color: #2B3345;
    width: 30%;
    height: 4vh;
    margin: 0 auto;
    color: white;
}

#saisirMsg{
    width: 50%;
    height: 10vh;
    margin: 0 auto;
}
/* FLEX COLUMN FORM */






/* font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Righteous', cursive; */
